@page "/privacy"
<div class="body">
    <div class="title"><strong>Privacy & Cookie Policy</strong></div>
    <hr />
    <div class="content">
        <p>
            This website is operated as an informational, non-commercial resource.
            We value your privacy and aim to be transparent about how we use your data.
        </p>
        <hr />
        <h4>1. Use of Cookies</h4>
        <p>
            This site uses cookies solely for analytical purposes through Google Analytics.
            Cookies help us understand how visitors interact with the website, such as which pages
            are visited most often and how visitors navigate between them.
        </p>
        <p>
            These cookies do not collect personally identifiable information and cannot be used to
            track you across other websites.
        </p>
        <hr />
        <h4>2. Consent</h4>
        <p>
            Analytical cookies are <strong>only activated after your consent</strong>.
            When you visit this site for the first time, you are asked whether you accept the use of
            analytics cookies. You can choose to accept or decline.
        </p>
        <hr />
        <h4>3. Managing or Withdrawing Consent</h4>
        <p>
            You can withdraw your consent at any time by clearing cookies and local storage data
            in your web browser. When you revisit the site after clearing cookies, the consent banner
            will appear again, allowing you to change your choice.
        </p>
        <hr />
        <h4>4. Data Collected</h4>
        <p>
            Through Google Analytics, we may collect anonymized information such as:
        </p>
        <ul>
            <li>Number of visitors and their country/region</li>
            <li>Pages visited and time spent on them</li>
            <li>Device and browser type (desktop, mobile, etc.)</li>
        </ul>
        <p>
            This information is used only for general statistical analysis to improve the content and
            user experience of the site.
        </p>
        <hr />
        <h4>5. Contact</h4>
        <p>
            If you have any questions regarding this Privacy & Cookie Policy, please contact us via the
            contact form available on this website.
        </p>
        <hr /> 
        <p style="margin-top:2em; font-size:0.9em; color:gray;">
            Last updated: @DateTime.Now.ToString("MMMM yyyy")
        </p>
    </div>
</div>