@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="navbar">
    <div class="navbar__container">
        <a href="/" class="navbar__logo">
            Sustainable Skills in Construction
        </a>

        <nav class="navbar__links">
        
            <a href="/about" class="nav__link @(Nav.Uri.Contains("/about") ? "active" : "")">About</a>

            <div class="nav__dropdown">
                <button class="nav__link dropdown__toggle">
                    Partners ▾
                </button>
                <div class="dropdown__menu">
                    <a href="/partners/mercantec">Mercantec</a>
                    <a href="/partners/rogaland">Fagskolen Rogaland</a>
                    <a href="/partners/godalen">Godalen</a>
                    <a href="/partners/graafschap">Graafschap</a>
                    <a href="/partners/learnmark">Learnmark</a>
                    <a href="/partners/rakvere">Rakvere Ametikool</a>
                    <a href="/partners/salpaus">Salpaus</a>
                    <a href="/partners/tradium">Tradium</a>
                    <a href="/partners/sint-michiel">VTI</a>
                </div>
            </div>
            <a href="/news" class="nav__link @(Nav.Uri.Contains("/news") ? "active" : "")">What´s new?</a>
            <a href="/contact" class="nav__link @(Nav.Uri.Contains("/contact") ? "active" : "")">Contact</a>
        </nav>
    </div>
</div>


    <main>
       
        <article class="content px-4">
            @Body
        </article>
    </main>

@* <footer class="footer text-dark text-center py-3 fixed-bottom">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="/images/ssc-logo_footer.png" alt="SSC Logo" class="footer-logo me-3" />
           
        </div>
        <small class="footer-info">
            Project Duration: Sept 2025 – Aug 2028 | Budget: €400,000
        </small>
    </div>
</footer>
 *@
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
