@page "/contact"
<section class="cta contact-section">
    <div class="contact-overlay"></div>

    <div class="container contact__inner">
        <h2>Any questions left?</h2>
        <p>We’d love to hear from you! Feel free to reach out for collaboration, project details, or general inquiries.</p>

        <a class="btn btn--primary" href="mailto:international@mercantec.dk">
            Contact us
        </a>
    </div>
</section>