@page "/partners/graafschap"


<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://www.graafschapcollege.nl/" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/logo-graafschap.png" alt="Graafschap College logo" class="partner-logo" />
            </a>
        </div>
        <hr />
        <p>Graafschap College is a regional vocational education institution located in the Achterhoek region of the Netherlands. It offers a wide range of vocational programs and courses designed to prepare students for careers in various industries, including construction, technology, healthcare, business, and more. The college focuses on providing practical, hands-on training that equips students with the skills and knowledge needed to succeed in the workforce.</p>
        <p>With multiple campuses across the region, Graafschap College serves a diverse student population, including young people pursuing their initial vocational education as well as adults seeking further training or career changes. The institution emphasizes collaboration with local businesses and industries to ensure that its programs remain relevant and aligned with current market demands.</p>
        <hr />
        <p>Graafschap College is committed to fostering a supportive learning environment that encourages personal growth and development. The college offers various support services, including career counseling, internships, and apprenticeships, to help students transition smoothly from education to employment. Additionally, Graafschap College actively participates in community initiatives and partnerships to contribute to the social and economic development of the Achterhoek region.</p>
        <hr />

        </div>
</div>
