@page "/partners/learnmark"


<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://learnmark.dk/" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/learnmark-logo.png" alt="Learnmark Horsens logo" class="partner-logo" />
            </a>
        </div>
        <hr />
        <p>
            Learnmark Horsens is one of the city’s largest educational institutions offering
            10th grade, upper secondary education and a vast variety of further education.
      
            We educate, train and develop talent for tomorrow’s business and industry
            is the pillar of all education and other activities at Learnmark Horsens.
        </p>

        <hr />

        <h4>Goal</h4>
        <p>
            Our goal is that all students and course participants acquire the competences and
            skills that are required by business and industry now and in the future – nationally
            and internationally. Therefore, Learnmark Horsens keeps a constant focus on developing
            education and training methods where theory and practice go hand in hand.
        </p>

        <hr />

        <h4>Cooperation</h4>
        <p>
            Furthermore, with a view to fulfilling our vision, Learnmark Horsens works closely
            together with local businesses and industries, organisations as well as educational
            institutions abroad.
        </p>

        <hr />

        <h4>Types of Education</h4>
        <ul>
            <li>Learnmark 10 (one-year preparatory education)</li>
            <li>Learnmark Business EUD and EUX</li>
            <li>Learnmark Tech and EUX-Tech</li>
            <li>Learnmark Upper Secondary Business and Technical HHX and HTX</li>
            <li>Learnmark further education and training</li>
        </ul>
        <hr />
    </div>
</div>

@code {

}
