@page "/partners/mercantec"

<div class="map-container">
   
    <div class="body"

    
   <div class="logo-container text-center my-3">
            <a href="https://en.mercantec.dk/"
               target="_blank"
               rel="noopener noreferrer">
                <img src="/images/partners/Mercantec_transparent.png"
                     alt="Mercantec logo"
                     class="partner-logo" />
            </a>
        </div>
        <hr />
        <p>Mercantec is a Danish VET school that offers a comprehensive range of high school and vocational education and training (VET) programs in both technical and business fields, as well as a training center for adult education as part of the Danish Lifelong Learning program. Annually, Mercantec trains approximately 20.000 students (2.700 full-time students equivalent) and employs around 480 staff members. We have approximately 50 different educational programs housed in 5 colleges.</p>
<ul>
<li>	Building college (e.g., carpenters, floor layers, concrete workers)</li>
<li>	Business college (e.g., administration, finance, event managers)</li>
<li>	 Culinary arts college (e.g., baker, chef, health care cook)</li>
<li>	High school (high commercial examination program and higher technical examination program)</li>
<li>	Center for Advanced Technology engineers (e.g., HVAC energy specialists, electronic engineers, car mechanics)</li>
</ul>
<hr />
<p>With a strong focus on technical expertise, Mercantec specializes in training young students and adults in various areas, including automation engineering, robotics, electronics, auto mechanics, welding and fitting, plumbing and ventilation, electricians, CNC technicians, data engineers, and IT support. In the construction sector, they offer specialized training in heavy machinery and excavation, crane operation, carpentry, concrete work, and floor laying.</p>
<p>Additionally, their hotel and restaurant programs emphasize nutrition and healthy food.
Mercantec's mission is to maintain and further develop the supply of technical and mercantile education for youth and adults at the local, regional, and national levels. Their vision is to be the preferred choice in VET education for their customers. The school also provides competence clarification services for both skilled and unskilled workers, as well as unemployed citizens, in close collaboration with local and regional authorities and companies.</p>
<hr />
<p>As part of its strategic initiatives, Mercantec actively engages in partnerships with numerous local, regional, and national companies, fostering strong connections with the industry and ensuring that their training programs are aligned with current market demands and future trends. By continuously updating their curriculum and collaborating with industry partners, Mercantec remains at the forefront of VET education and contributes significantly to the development of a skilled and competent workforce.</p>
<p>Mercantec focuses on the interplay between the individual and the community, emphasizing individual students while recognizing that the community forms the framework for life and learning. They are committed to developing and integrating all young people into their educational programs, taking into account each individual's strengths, preconditions, and needs. This is the starting point for challenging each student. Mercantec also aims to support and ensure students' sense of belonging to the school through group formations and communities, with a particular interest in building and supporting academic communities that provide a framework for each student's development.</p>

        <hr />
      
</div>

</div>
