@page "/partners/rakvere"


<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://www.rak.ee/en" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/rakvere-logo.png" alt="Rakvere Ametikool logo" class="partner-logo" />
            </a>
        </div>
        Rakvere Vocational School is the only vocational school in Lääne-Viru county. Owner of the school is Estonian Ministri of Education and Research. We teach basic school graduates, upper-secondary school graduates, young people without basic education and adults of different ages.
        <hr />

        We offer vocational education in several curriculums: construction carpenter, concrete worker, welder, construction finisher, car technician/mechanic, car-paint technician, vehicle maintenance technician, baker-pastry cook, cook, rural tourism, catering service, logistician-transportation organizer, junior IT-systems specialist, cabinet maker/joiner, cleaner.
        <hr />

        Beside vocational education Rakvere Ametikool offers also part-time general education. All together there are around 1000 students, 108 school workers, 78 of them are teachers.
        <hr />

        Students are mainly from Rakvere or nearby regions, but for those from farer school offers dormitory service. Students have a right to get a free lunch and bus tickets compensation.  Our students are participating successfully in national and international competitions and Erasmus+ studies in many other EU countries.
        <hr />

    </div>
</div>

@code {

}
