@page "/partners/rogaland"

<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://www.fagskolenrogaland.no/" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/fagskolen-rogaland-logo-transparent.png" alt="Fagskolen Rogaland logo" class="partner-logo" />
            </a>
        </div>
        Fagskolen Rogaland is a vocational college located in Stavanger, Norway. It offers a range of specialized programs and courses designed to provide students with practical skills and knowledge in various fields. The college focuses on delivering high-quality education that meets the needs of the industry and prepares students for successful careers.
        <hr />
        Fagskolen Rogaland provides programs in areas such as construction, engineering, information technology, healthcare, and business administration. The college emphasizes hands-on learning and real-world applications, allowing students to gain valuable experience through internships and practical projects.
        <hr />
</div>
</div>