@page "/partners/salpaus"
   
<div class="body">

    <div class="logo-container text-center my-3">
        <a href="https://www.salpaus.fi/en/" target="_blank" rel="noopener noreferrer">
            <img src="/images/partners/salpaus_logo.png" alt="Salpaus logo" class="partner-logo" />
        </a>
    </div>

    <p>Salpaus Further Education is a vocational education institution located in the Lahti region of Finland. It offers a wide range of vocational programs and courses designed to prepare students for careers in various industries, including technology, healthcare, business, and more. The institution focuses on providing practical, hands-on training that equips students with the skills and knowledge needed to succeed in the workforce.</p>
    <hr />

    <p>With multiple campuses across the region, Salpaus Further Education serves a diverse student population, including young people pursuing their initial vocational education as well as adults seeking further training or career changes. The institution emphasizes collaboration with local businesses and industries to ensure that its programs remain relevant and aligned with current market demands.</p>
    <hr />

    <p>Salpaus Further Education is committed to fostering a supportive learning environment that encourages personal growth and development. The institution offers various support services, including career counseling, internships, and apprenticeships, to help students transition smoothly from education to employment. Additionally, Salpaus Further Education actively participates in community initiatives and partnerships to contribute to the social and economic development of the Lahti region.</p>

    <hr />

</div>

