@page "/partners/sint-michiel"


<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://www.vtiroeselare.be/" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/VTI-logo.png" alt="Sint-Michiel campus VTI logo" class="partner-logo" />
            </a>
        </div>
        Sint-Michiel campus VTI is a vocational secondary school located in Bruges, Belgium. It offers a wide range of technical and vocational programs designed to equip students with practical skills and knowledge for various industries. The school focuses on hands-on learning and real-world applications, preparing students for successful careers in their chosen fields.
        <hr />
        The programs at Sint-Michiel campus VTI cover areas such as construction, engineering, information technology, healthcare, and business administration. The school emphasizes collaboration with local businesses and industries to provide students with internship opportunities and exposure to real-world work environments.
        <hr />
         


    </div>
</div>

