@page "/partners/tradium"

<div class="map-container">
    <div class="body">
        <div class="logo-container text-center my-3">
            <a href="https://tradium.dk/info-uk/" target="_blank" rel="noopener noreferrer">
                <img src="/images/partners/logo_tradium-transparent.png" alt="Tradium logo" class="partner-logo my-3" />
            </a>
        </div>

        <hr />

        <p>
            Tradium is a Danish vocational education and training institution that offers a wide range of programs in various fields, including technology, business, health, and social care. With multiple campuses across Denmark, Tradium provides both full-time and part-time education options for students of all ages. The institution emphasizes practical skills and hands-on learning, preparing students for successful careers in their chosen industries. Tradium also collaborates with local businesses and organizations to ensure that its programs are aligned with current market needs and trends
        </p>


        <hr />

         
    </div>
</div>
